logging:
  level:
    org.springframework: DEBUG

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:keys/oauth2-public-key.pem

  flyway:
    locations: classpath:db/migration,classpath:db/testdata

  datasource:
    url: jdbc:mysql://localhost:3307/resource_server?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: admin
